*{
	margin:0;
	padding: 0;
}
.wrapper{
width: 1170px; 
margin: auto;
}

.wrapper h2{
color: #fff;
}

.header{
border: solid 1px #fff;
background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("img/enduro.jpg");
height: 100vh;
-webkit-background-size:cover;
background-size: cover;
background-position: center center;
position: relative;
text-align: center;
margin: auto;
overflow: hidden;
padding:20px;
}
.footer{
	border: solid 1px #fff;
background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("img/dirt.jpg");
height: auto;
-webkit-background-size:cover;
background-size: cover;
background-position: center center;
position: relative;
text-align: center;
margin: auto;
overflow: hidden;
padding:20px;
}
.nav-area{
	float: center;
	list-style: none;
	margin-top: 20px;    
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #3498db;
	text-decoration: none;
	padding:5px 10px;
	font-family: poppins;
	font-size: 20px;
}
.nav-area li a:hover{
color:#fff;
}
.logo{
margin-bottom: 10px;
}
.user h2{
text-decoration-line: none;
font-size: 20px;
color:#fff;
border:none;
background: none;
margin: 10px auto;
text-align: center;
border: 2px solid #3498db;
padding: 5px 20px;
width: 120px;
border-radius: 24px;
}